$primary-text-color: #22343d;
$secondary-text-color: #737373;
$secondary-bg-color: #e5e5e5;
$accent-color: #02897a;
$white-color: #ffffff;
$logo-text-color: #173a56;
$header-border-color: #bcd0e5;
$reviews-border-color: #dedede;
$icon-footer-bg-color: #edfffc;
$icon-star-color: #f3cd03;
$icon-blue-color: #4d8dff;
$icon-purple-color: #740a76;
$icon-red-color: #f03e3d;
$icon-orange-color: #ff9900;
