<footer class="footer">
  <div class="footer-container">
    <div class="footer-about-us-container">
      <!-- logo -->
      <a class="footer-logo" href="./index.html">
        <svg width="163" height="29">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <!-- soc network -->
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a class="footer-social-link" href="">
            <svg class="footer-social-link_icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link" href="">
            <svg class="footer-social-link_icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link" href="">
            <svg class="footer-social-link_icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- resource -->
    <div class="footer-resource-container">
      <b class="footer-resource-title">Resource</b>
      <ul class="footer-resource-list">
        <li class="footer-resource-item"><a class="footer-resource-link" href="">About Us</a></li>
        <li class="footer-resource-item"><a class="footer-resource-link" href="">Blog</a></li>
        <li class="footer-resource-item"><a class="footer-resource-link" href="">Contact</a></li>
        <li class="footer-resource-item"><a class="footer-resource-link" href="">FAQ</a></li>
      </ul>
    </div>

    <!-- Legal Stuff -->
    <div class="footer-legal-stuff-container">
      <b class="footer-legal-stuff-title">Legal Stuff</b>
      <ul class="footer-legal-stuff-list">
        <li class="footer-legal-stuff-item">
          <a class="footer-legal-stuff-link" href="">Dasclaimer</a>
        </li>
        <li class="footer-legal-stuff-item">
          <a class="footer-legal-stuff-link" href="">Financing</a>
        </li>
        <li class="footer-legal-stuff-item">
          <a class="footer-legal-stuff-link" href="">Privacy Policy</a>
        </li>
        <li class="footer-legal-stuff-item">
          <a class="footer-legal-stuff-link" href="">Terms of Service</a>
        </li>
      </ul>
    </div>

    <!-- knowing you're always on the best energy deal. 
 -->
    <div class="footer-sing-up-container">
      <label class="footer-sing-up-laber" for="sing up"
        >knowing you're always on the best energy deal.
      </label>
      <input class="footer-sing-up-input" type="tel" id="sing up"/>
      <button class="footer-sing-up-btn">Sign up Now</button>
    </div>
  </div>

  <b class="footer-title">Made With Love By Figmaland All Right Reserved</b>
</footer>
