<section class="hero"></section>
<div class="hero_left">
<h1 class="hero_title">Work at the speed of thought</h1>
<p class="hero_discription">Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user
experience.</p>
<button class="hero_button">Get started</button>
<svg class="hero_icon">
  <use href="../../src/images/sprite.svg#icon-watch"></use>
</svg>
<a class="hero_link">Watch the Video</a>
</div>
<div class="hero_right">
<img srcset="../../src/images/hero/hero.png 1x, ../../src/images/hero/hero@2x.png 2x" src="../../src/images/hero/hero.png" alt="Описание изображения для всех версий" />
</div>