
<section class='product-fy'>
  <div class='container'>

    <h2 class='section-header'>Product  was Built Specifically for You</h2>
    <ul class='product-features'>
      <li class='product-feature'>

        <div class='product-feature__title-card product-feature__title-card--green'>
          <svg class="product-feature__title-icon">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </div>

        <h3 class='product-feature__header'>First click tests</h3>
        <p class='product-feature__description'>While most people enjoy casino gambling,</p>
      </li>
      <li class='product-feature'>

        <div class='product-feature__title-card product-feature__title-card--blue'>
          <svg class="product-feature__title-icon">
            <use href="./images/sprite.svg#icon-overview"></use>
          </svg>
        </div>

        <h3 class='product-feature__header'>Design surveys</h3>
        <p class='product-feature__description'>Sports betting, lottery and bingo playing for the fun</p>
      </li>
      <li class='product-feature'>

        <div class='product-feature__title-card product-feature__title-card--purple'>
          <svg class="product-feature__title-icon">
            <use href="./images/sprite.svg#icon-heart"></use>
          </svg>
        </div>

        <h3 class='product-feature__header'>Preference tests</h3>
        <p class='product-feature__description'>The Myspace page defines the individual.</p>
      </li>
      <li class='product-feature'>

        <div class='product-feature__title-card product-feature__title-card--red'>
          <svg class="product-feature__title-icon">
            <use href="./images/sprite.svg#icon-hourglass"></use>
          </svg>
        </div>

        <h3 class='product-feature__header'>Five second tests</h3>
        <p class='product-feature__description'>Personal choices and the overall personality of the person. </p>
      </li>
    </ul>
    <button class='button' type='button'>Sign Up Now</button>
</div>
</section>